    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#home"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer-content">
                <div class="footer-content-about animate-top">
                    <h4>Soma Kitchen Los Angeles</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <p>We are LA-based chefs catering to the Greater Los Angeles Area, hosting private events, lunches, and dinners. Our mission is to provide an unforgettable dining experiences by using hyper-seasonal quality ingredients and establishing amazing connections with all our clients.</p>
                </div>
                <div class="footer-content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Follow along</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.instagram.com/somakitchen.la/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>Newsletter</h4>
                        <form id="newsletter" action="" class="newsletter-form">
                            <input type="text" class="newsletter-input" placeholder="Your email address">
                            <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
