<div class=“container row”>
    <div class=“jumbotron col-sm-4 pull-center”>
        <form action=“/login” method=“post” id="login">
            <div>
                <label>Username:</label>
                <input type=“text” name=“username" id="adminInput”/>
                <small id="adminName-feedback" class=""></small>
            </div>
            <div>
                <label>Password:</label>
                <input type=“password” name=“password” id="passwordInput"/>
                <small id="password-feedback" class=""></small>
            </div>
        </form>
    </div>
</div>