<header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="restaurant.html" class="logo"><img src="images/smallSoma.png"></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#story" class="nav-link">Our Story</a>
                    </li>
                    <li class="nav-item">
                        <a href="#menu" class="nav-link">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="#chefs" class="nav-link">Meet the Chefs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contactUs" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#logIn" class="nav-link">Log In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>    