<div class=“container row”>
    <div class=“materializeStuff”>
        <form action=“/login” method=“post” id="login">
            <div id="adminName-form" class="">
                <label>Username:</label>
                    <input type=“text” name=“username" id="newAdminInput”/>
                        <small id="adminName-feedback" class=""></small>
            </div>
            <div id="password-form">
                <label>Password:</label>
                    <input type=“password” name=“password” id="newPasswordInput"/>
                        <small id="password-feedback" class=""></small>  
            </div>
            <div id="repeat-password-form" class="form-group col-lg-12">
				<label>Repeat Password</label>
				<input type="password" name="" class="form-control" id="repeat-password-input" value="">
				<small id="repeat-password-feedback" class=""></small>
			</div>
        </form>
    </div>
</div>
