<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="./assets/img/favicon.ico">
    <!--Font awesome CDN-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">       
     <!--Scroll reveal CDN-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Dashboard</title>
</head>
<body>
    {{> footer }}
        <script src="https://unpkg.com/scrollreveal"></script>
          <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="./assets/js/scroll.js"></script> 
        <script src="./assets/js/index.js"></script> 

</body>
</html>
